{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
Acompanhamento
{% endblock %}

{% block 'content' %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

<div class="container mt-4">

    <h1 class="mb-4 text-center">
        Dashboard de Acompanhamento
    </h1>

    <!-- CARDS -->
    <div class="row mb-4">

        <div class="col-md-3 mb-3">
            <div class="card shadow border-0 text-center h-100">
                <div class="card-body p-3">
                    <h6>Total de alunos</h6>
                    <h4 id="totalAlunos">0</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card shadow border-0 text-center h-100">
                <div class="card-body p-3">
                    <h6>Cursos ativos</h6>
                    <h4 id="totalCursos">0</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card shadow border-0 text-center h-100">
                <div class="card-body p-3">
                    <h6>Bairro/Cidade com mais alunos</h6>
                    <h6 id="totalBairros">-</h6>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card shadow border-0 text-center h-100">
                <div class="card-body p-3">
                    <h6>Turno mais frequente</h6>
                    <h5 id="turnoMais">-</h5>
                </div>
            </div>
        </div>

    </div>

    <!-- TURNOS -->
    <h3>Turno em que os alunos estudam</h3>

    <div class="row mb-3">

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Turnos (Barras)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoTurnoBarra"></canvas>
                </div>

            </div>

        </div>

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Turnos (Pizza)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoTurnoPizza"></canvas>
                </div>

            </div>

        </div>

    </div>

    <div class="card shadow p-3 mb-5">
        <h5 class="text-center mb-3">Legenda dos Turnos</h5>
        <div id="legendaTurnos"></div>
    </div>


    <!-- BAIRROS -->
    <h3>Alunos por Bairro</h3>

    <div class="row mb-3">

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Bairros (Barras)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoBairros"></canvas>
                </div>

            </div>

        </div>

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Bairros (Pizza)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoBairrosPizza"></canvas>
                </div>

            </div>

        </div>

    </div>

    <div class="card shadow p-3 mb-5">
        <h5 class="text-center mb-3">Legenda dos Bairros</h5>
        <div id="legendaBairros"></div>
    </div>


    <!-- CURSOS -->
    <h3>Cursos Mais Procurados</h3>

    <div class="row mb-3">

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Cursos (Barras)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoCursos"></canvas>
                </div>

            </div>

        </div>

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Cursos (Pizza)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoCursosPizza"></canvas>
                </div>

            </div>

        </div>

    </div>

    <div class="card shadow p-3 mb-5">
        <h5 class="text-center mb-3">Legenda dos Cursos</h5>
        <div id="legendaCursos"></div>
    </div>


    <!-- IDADES -->
    <h3>Faixa Etária</h3>

    <div class="row mb-3">

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Idades (Barras)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoIdade"></canvas>
                </div>

            </div>

        </div>

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Idades (Pizza)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoIdadePizza"></canvas>
                </div>

            </div>

        </div>

    </div>

    <div class="card shadow p-3 mb-5">
        <h5 class="text-center mb-3">Legenda das Idades</h5>
        <div id="legendaIdades"></div>
    </div>


    <!-- ESCOLARIDADE -->
    <h3>Escolaridade</h3>

    <div class="row mb-3">

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Escolaridade (Barras)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoEscolaridadeBarra"></canvas>
                </div>

            </div>

        </div>

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Escolaridade (Pizza)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoEscolaridadePizza"></canvas>
                </div>

            </div>

        </div>

    </div>

    <div class="card shadow p-3 mb-5">
        <h5 class="text-center mb-3">Legenda da Escolaridade</h5>
        <div id="legendaEscolaridade"></div>
    </div>

    <div class="mt-5">

    <div class="d-flex flex-wrap gap-3 justify-content-start">

        <button
            class="btn text-white"
            style="background-color:#2d90bd;"
            data-bs-toggle="modal"
            data-bs-target="#modalCursos">

            Ver gráficos de cursos

        </button>

        <button
            class="btn text-white"
            style="background-color:#2d90bd;"
            data-bs-toggle="modal"
            data-bs-target="#modalEmpresas">

            Ver gráficos de empresas

        </button>

        <button
            class="btn text-white"
            style="background-color:#2d90bd;"
            data-bs-toggle="modal"
            data-bs-target="#modalCursos">

            Ver gráficos de cursos

        </button>

        <button
            class="btn text-white"
            style="background-color:#2d90bd;"
            data-bs-toggle="modal"
            data-bs-target="#modalEmpresas">

            Ver gráficos de empresas

        </button>

        <button
            class="btn text-white"
            style="background-color:#2d90bd;"
            data-bs-toggle="modal"
            data-bs-target="#modalCursos">

            Ver gráficos de cursos

        </button>

        <button
            class="btn text-white"
            style="background-color:#2d90bd;"
            data-bs-toggle="modal"
            data-bs-target="#modalEmpresas">

            Ver gráficos de empresas

        </button>

    </div>

</div>

</div>



<script src="{% static 'js/acompanhamento/graficos_principal.js' %}"></script>

{% endblock %}