<div class="container mt-4">
<div id="secaoEntidade">
    <!-- Entidade -->
    <h3>Entidade</h3>

    <div class="row mb-3">

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                     Entidade (Barras)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoEntidadeBarra"></canvas>
                </div>

            </div>

        </div>

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Entidade (Pizza)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoEntidadePizza"></canvas>
                </div>

            </div>

        </div>

    </div>

    <div class="card shadow p-3 mb-5">
        <h5 class="text-center mb-3">Legenda da Entidade</h5>
        <div id="legendaEntidade"></div>
    </div>
</div>
</div>
