<div class="container mt-4">
<div id="secaoAprendizagem">
    <!-- Aprendizagem -->
    <h3>Aprendizagem</h3>

    <div class="row mb-3">

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Aprendizagem (Barras)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoAprendizagemBarra"></canvas>
                </div>

            </div>

        </div>

        <div class="col-md-6 mb-3">

            <div class="card shadow p-3 h-100">

                <h5 class="text-center mb-3">
                    Aprendizagem (Pizza)
                </h5>

                <div style="height:250px;">
                    <canvas id="graficoAprendizagemPizza"></canvas>
                </div>

            </div>

        </div>

    </div>

    <div class="card shadow p-3 mb-5">
        <h5 class="text-center mb-3">Legenda da Aprendizagem</h5>
        <div id="legendaAprendizagem"></div>
    </div>
</div>
</div>
