{% extends 'base.html' %}

{% block 'title' %}Dashboard{% endblock %}

{% block 'content' %}

<!-- MODAL CADASTRO -->
<div class="modal fade"
     id="modalAluno"
     tabindex="-1"
     aria-labelledby="modalAlunoLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-xl">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title"
                    id="modalAlunoLabel">

                    Cadastro Do Aluno

                </h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body">

                <form class="row g-3" method="POST">{% csrf_token %}

                    <!-- NOME -->
                    <div class="col-md-4">

                        <label class="form-label">
                            Nome Completo
                        </label>

                        <input type="text"
                               class="form-control"
                               name="nome"
                               required>

                    </div>

                    <!-- EMAIL -->
                    <div class="col-md-4">

                        <label class="form-label">
                            E-mail
                        </label>

                        <input type="email"
                               class="form-control"
                               name="email"
                               required>

                    </div>

                    <!-- TELEFONE -->
                    <div class="col-md-4">

                        <label class="form-label">
                            Telefone
                        </label>

                        <input type="tel"
                               class="form-control"
                               name="telefone"
                               required>

                    </div>

                    <!-- DATA -->
                    <div class="col-md-4">

                        <label class="form-label">
                            Data de Nascimento
                        </label>

                        <input type="date"
                               class="form-control"
                               name="data_nascimento"
                               required>

                    </div>

                    <!-- RESPONSÁVEL -->
                    <div class="col-md-4">

                        <label class="form-label">
                            Nome do responsável
                        </label>

                        <input type="text"
                               class="form-control"
                               name="nome_responsavel"
                               required>

                    </div>

                    <!-- TELEFONE RESPONSÁVEL -->
                    <div class="col-md-4">

                        <label class="form-label">
                            Telefone do Responsável
                        </label>

                        <input type="tel"
                               class="form-control"
                               name="tel_responsavel"
                               required>

                    </div>
                    <div class="col-md-3">
                        <label class="form-label">
                            CEP
                        </label>

                        <input type="text"
                            class="form-control"
                            name="cep"
                            id="cep">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">
                            Rua
                        </label>

                        <input type="text"
                            class="form-control"
                            name="rua"
                            id="rua">
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">
                            Número
                        </label>

                        <input type="text"
                            class="form-control"
                            name="numero">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">
                            Bairro
                        </label>

                        <input type="text"
                            class="form-control"
                            name="bairro"
                            id="bairro">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">
                            Cidade
                        </label>

                        <input type="text"
                            class="form-control"
                            name="cidade"
                            id="cidade">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">
                            Estado
                        </label>

                        <input type="text"
                            class="form-control"
                            name="estado"
                            id="estado">
                    </div>

                    <!-- PROFISSIONAL -->
                    <div class="col-md-6">

                        <label class="form-label">
                            Profissional Responsável
                        </label>

                        <select class="form-select"
                                name="profissional_ref"
                                required>

                            <option selected disabled>
                                Selecione um profissional
                            </option>

                            {% for pessoa in pessoas %}

                                <option value="{{ pessoa.id }}">
                                    {{ pessoa.nome }}
                                </option>

                            {% endfor %}

                        </select>

                    </div>

                    <!-- TURNO ESTUDA -->
                    <div class="col-md-6">

                        <label class="form-label">
                            Turno em que estuda
                        </label>

                        <select class="form-select"
                                name="turno_estuda"
                                required>

                            <option selected disabled>
                                Selecione um turno
                            </option>

                            {% for turno in turnos_estuda %}

                                <option value="{{ turno.id }}">
                                    {{ turno.nome }}
                                </option>

                            {% endfor %}

                        </select>

                    </div>

                    <!-- TURNO VAGA -->
                    <div class="col-md-6">

                        <label class="form-label">
                            Turno da vaga
                        </label>

                        <select class="form-select"
                                name="turno_vaga"
                                required>

                            <option selected disabled>
                                Selecione
                            </option>

                            {% for turno in turno_vaga %}

                                <option value="{{ turno.id }}">
                                    {{ turno.nome }}
                                </option>

                            {% endfor %}

                        </select>

                    </div>

                    <!-- APRENDIZAGEM -->
                    <div class="col-md-6">

                        <label class="form-label">
                            Aprendizagem
                        </label>

                        <select class="form-select"
                                name="aprendizagem"
                                required>

                            <option selected disabled>
                                Selecione
                            </option>

                            {% for item in aprendizagem %}

                                <option value="{{ item.id }}">
                                    {{ item.nome }}
                                </option>

                            {% endfor %}

                        </select>

                    </div>

                    <!-- ESCOLARIDADE -->
                    <div class="col-md-6">

                        <label class="form-label">
                            Escolaridade
                        </label>

                        <select class="form-select"
                                name="escolaridade"
                                required>

                            <option selected disabled>
                                Selecione
                            </option>

                            {% for item in escolaridade %}

                                <option value="{{ item.id }}">
                                    {{ item.nome }}
                                </option>

                            {% endfor %}

                        </select>

                    </div>

                    <!-- ENTIDADE -->
                    <div class="col-md-6">

                        <label class="form-label">
                            Entidade
                        </label>

                        <select class="form-select"
                                name="entidade"
                                required>

                            <option selected disabled>
                                Selecione
                            </option>

                            {% for item in entidade %}

                                <option value="{{ item.id }}">
                                    {{ item.nome }}
                                </option>

                            {% endfor %}

                        </select>

                    </div>

                    <!-- CURSO -->
                    <div class="col-md-6">

                        <label class="form-label">
                            Curso
                        </label>

                        <select class="form-select"
                                name="curso"
                                required>

                            <option selected disabled>
                                Selecione
                            </option>

                            {% for item in curso %}

                                <option value="{{ item.id }}">
                                    {{ item.nome }}
                                </option>

                            {% endfor %}

                        </select>

                    </div>

                    <!-- TIPO FORMAÇÃO -->
                    <div class="col-md-6">

                        <label class="form-label">
                            Tipo de Formação
                        </label>

                        <select class="form-select"
                                name="tipo_formacao"
                                required>

                            <option selected disabled>
                                Selecione
                            </option>

                            {% for item in tipo_formacao %}

                                <option value="{{ item.id }}">
                                    {{ item.nome }}
                                </option>

                            {% endfor %}

                        </select>

                    </div>

                    <div class="col-12">

                        <button class="btn btn-primary w-100"
                                type="submit">

                            Enviar

                        </button>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>
<!-- FILTROS -->
<div class="container mt-5">

    <form method="GET" class="row g-3">

        <!-- NOME -->
        <div class="col-md-4">

            <label class="form-label">
                <strong>Nome do aluno</strong> 
            </label>

            <input type="text"
                   name="nome"
                   class="form-control"
                   value="{{ request.GET.nome }}">

        </div>

        <!-- PROFISSIONAL -->
        <div class="col-md-4">

            <label class="form-label">
               <strong>Profissional responsável</strong> 
            </label>

            <select name="profissional"
                    class="form-select">

                <option value="">
                    Todos
                </option>

                {% for pessoa in pessoas %}

                    <option value="{{ pessoa.id }}"
                        {% if request.GET.profissional == pessoa.id|stringformat:"s" %}
                            selected
                        {% endif %}>

                        {{ pessoa.nome }}

                    </option>

                {% endfor %}

            </select>

        </div>

        <!-- FUNCIONÁRIO QUE CADASTROU -->
        {% if eh_admin %}

        <div class="col-md-4">

            <label class="form-label">
              <strong>Funcionário que cadastrou</strong>  
            </label>

            <select name="cadastrado_por"
                    class="form-select">

                <option value="">
                    Todos
                </option>

                {% for pessoa in todas_pessoas %}

                    <option value="{{ pessoa.id }}"
                        {% if request.GET.cadastrado_por == pessoa.id|stringformat:"s" %}
                            selected
                        {% endif %}>

                        {{ pessoa.nome }}

                    </option>

                {% endfor %}

            </select>

        </div>

        {% endif %}

        <div class="col-12 d-flex justify-content-between align-items-end">

            <!-- ESQUERDA -->
            <div class="d-flex gap-2">

                <button class="btn btn-primary">
                    Filtrar
                </button>

                <a href="{% url 'dashboard' %}"
                class="btn btn-secondary">

                    Limpar

                </a>

            </div>

            <!-- DIREITA -->
            <div>

                <button type="button"
                        class="btn btn-success"
                        data-bs-toggle="modal"
                        data-bs-target="#modalAluno">

                    Cadastrar Aluno

                </button>

            </div>

        </div>
    </form>
    

</div>

<!-- LISTA DE ALUNOS -->
<div class="container mt-5">

    <h2 class="mb-4">
        Alunos Cadastrados
    </h2>

    <div class="row">

        {% for aluno in alunos %}

            <!-- CARD -->
            <div class="col-md-4 mb-4">

                <div class="card shadow h-100"
                     style="cursor:pointer;"
                     data-bs-toggle="modal"
                     data-bs-target="#modalAluno{{ aluno.id }}">

                    <div class="card-body">

                        <h5 class="card-title">
                            {{ aluno.nome }}
                        </h5>

                        <hr>

                        <p>
                            <strong>Idade:</strong>

                            {{ aluno.data_nascimento|timesince }}
                        </p>

                        <p>
                            <strong>Email:</strong>

                            {{ aluno.email }}
                        </p>

                        <p>
                            <strong>Telefone:</strong>

                            {{ aluno.telefone }}
                        </p>

                    </div>

                </div>

            </div>

            <!-- MODAL -->
            <div class="modal fade"
                 id="modalAluno{{ aluno.id }}"
                 tabindex="-1"
                 aria-hidden="true">

                <div class="modal-dialog modal-xl">

                    <div class="modal-content">

                        <div class="modal-header">

                            <h5 class="modal-title">
                                Informações do Aluno
                            </h5>

                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal">
                            </button>

                        </div>

                        <div class="modal-body">

                            <form method="POST"
                                  action="{% url 'editar_aluno' aluno.id %}">

                                {% csrf_token %}

                                <div class="row">

                                    <!-- NOME -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Nome
                                        </label>

                                        <input type="text"
                                               class="form-control"
                                               name="nome"
                                               value="{{ aluno.nome }}">

                                    </div>

                                    <!-- EMAIL -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Email
                                        </label>

                                        <input type="email"
                                               class="form-control"
                                               name="email"
                                               value="{{ aluno.email }}">

                                    </div>

                                    <!-- TELEFONE -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Telefone
                                        </label>

                                        <input type="text"
                                               class="form-control"
                                               name="telefone"
                                               value="{{ aluno.telefone }}">

                                    </div>

                                    <!-- DATA NASCIMENTO -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Data de nascimento
                                        </label>

                                        <input type="date"
                                               class="form-control"
                                               name="data_nascimento"
                                               value="{{ aluno.data_nascimento|date:'Y-m-d' }}">

                                    </div>

                                    <!-- RESPONSÁVEL -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Responsável
                                        </label>

                                        <input type="text"
                                               class="form-control"
                                               name="nome_responsavel"
                                               value="{{ aluno.nome_responsavel }}">

                                    </div>

                                    <!-- TEL RESPONSÁVEL -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Telefone do responsável
                                        </label>

                                        <input type="text"
                                               class="form-control"
                                               name="telefone_responsavel"
                                               value="{{ aluno.telefone_responsavel }}">

                                    </div>
                                    <div class="col-md-3">
                        <label class="form-label">
                            CEP
                        </label>

                        <input type="text"
                            class="form-control"
                            name="cep"
                            id="cep{{aluno.id}}"
                            value="{{aluno.cep}}">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">
                            Rua
                        </label>

                        <input type="text"
                            class="form-control"
                            name="rua"
                            id="rua{{aluno.id}}"
                            value="{{aluno.rua}}">
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">
                            Número
                        </label>

                        <input type="text"
                            class="form-control"
                            name="numero"
                            id="numero{{aluno.id}}"
                            value="{{aluno.numero}}">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">
                            Bairro
                        </label>

                        <input type="text"
                            class="form-control"
                            name="bairro"
                            id="bairro{{aluno.id}}"
                            value="{{aluno.bairro}}">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">
                            Cidade
                        </label>

                        <input type="text"
                            class="form-control"
                            name="cidade"
                            id="cidade{{aluno.id}}"
                            value="{{aluno.cidade}}">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">
                            Estado
                        </label>

                        <input type="text"
                            class="form-control"
                            name="estado"
                            id="estado{{aluno.id}}"
                            value="{{aluno.estado}}">
                    </div>

                                    <!-- PROFISSIONAL -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Profissional Responsável
                                        </label>

                                       <select class="form-select"
                                                name="profissional_ref">

                                            {% for pessoa in pessoas %}

                                                <option value="{{ pessoa.id }}"
                                                    {% if pessoa.id == aluno.profissional_ref.id %}
                                                        selected
                                                    {% endif %}>

                                                    {{ pessoa.nome }}

                                                </option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                    <!-- TURNO ESTUDA -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Turno Estuda
                                        </label>

                                        <select class="form-select"
                                                name="turno_estuda">

                                            {% for turno in turnos_estuda %}

                                                <option value="{{ turno.id }}"
                                                    {% if turno.id == aluno.turno_estuda.id %}
                                                        selected
                                                    {% endif %}>

                                                    {{ turno.nome }}

                                                </option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                    <!-- TURNO VAGA -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Turno Vaga
                                        </label>

                                        <select class="form-select"
                                                name="turno_vaga">

                                            {% for turno in turno_vaga %}

                                                <option value="{{ turno.id }}"
                                                    {% if turno.id == aluno.turno_vaga.id %}
                                                        selected
                                                    {% endif %}>

                                                    {{ turno.nome }}

                                                </option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                    <!-- APRENDIZAGEM -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Aprendizagem
                                        </label>

                                        <select class="form-select"
                                                name="aprendizagem">

                                            {% for item in aprendizagem %}

                                                <option value="{{ item.id }}"
                                                    {% if item.id == aluno.aprendizagem.id %}
                                                        selected
                                                    {% endif %}>

                                                    {{ item.nome }}

                                                </option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                    <!-- ESCOLARIDADE -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Escolaridade
                                        </label>

                                        <select class="form-select"
                                                name="escolaridade">

                                            {% for item in escolaridade %}

                                                <option value="{{ item.id }}"
                                                    {% if item.id == aluno.escolaridade.id %}
                                                        selected
                                                    {% endif %}>

                                                    {{ item.nome }}

                                                </option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                    <!-- ENTIDADE -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Entidade
                                        </label>

                                        <select class="form-select"
                                                name="entidade">

                                            {% for item in entidade %}

                                                <option value="{{ item.id }}"
                                                    {% if item.id == aluno.entidade.id %}
                                                        selected
                                                    {% endif %}>

                                                    {{ item.nome }}

                                                </option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                    <!-- CURSO -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Curso
                                        </label>

                                        <select class="form-select"
                                                name="curso">

                                            {% for item in curso %}

                                                <option value="{{ item.id }}"
                                                    {% if item.id == aluno.curso.id %}
                                                        selected
                                                    {% endif %}>

                                                    {{ item.nome }}

                                                </option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                    <!-- TIPO FORMAÇÃO -->
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Tipo Formação
                                        </label>

                                        <select class="form-select"
                                                name="tipo_formacao">

                                            {% for item in tipo_formacao %}

                                                <option value="{{ item.id }}"
                                                    {% if item.id == aluno.tipo_formacao.id %}
                                                        selected
                                                    {% endif %}>

                                                    {{ item.nome }}

                                                </option>

                                            {% endfor %}

                                        </select>

                                    </div>
                                    <div class="col-md-6 mb-3">

                                        <label class="form-label">
                                            Funcionário que cadastrou
                                        </label>

                                        <input type="text"
                                            class="form-control"
                                            value="{{ aluno.cadastrado_por.nome }}"
                                            disabled>

                                    </div>

                                </div>

                                <div class="d-flex gap-2 mt-4">

                                    <button type="submit"
                                            class="btn btn-success w-100">

                                        Salvar Alterações

                                    </button>

                                    <a href="{% url 'excluir_aluno' aluno.id %}"
                                       class="btn btn-danger w-100">

                                        Excluir

                                    </a>

                                </div>

                            </form>

                        </div>

                    </div>

                </div>

                <script>

document.getElementById('cep{{ aluno.id }}').addEventListener('blur', function () {

    let cep = this.value.replace(/\D/g, '');

    if (cep.length != 8) {
        return;
    }

    fetch(`https://viacep.com.br/ws/${cep}/json/`)
        .then(response => response.json())
        .then(data => {

            if (data.erro) {
                alert('CEP não encontrado');
                return;
            }

            document.getElementById('rua{{ aluno.id }}').value = data.logradouro;
            document.getElementById('bairro{{ aluno.id }}').value = data.bairro;
            document.getElementById('cidade{{ aluno.id }}').value = data.localidade;
            document.getElementById('estado{{ aluno.id }}').value = data.uf;

        });

});

</script>

            </div>

        {% empty %}

            <p>
                Nenhum aluno cadastrado.
            </p>

        {% endfor %}

    </div>
    <!-- PAGINAÇÃO -->
    <div class="d-flex justify-content-center align-items-center gap-3 mt-4 mb-5">

        <!-- BOTÃO ANTERIOR -->
        {% if alunos.has_previous %}

            <a href="?page={{ alunos.previous_page_number }}"
            class="btn btn-outline-primary rounded-circle">

                ←

            </a>

        {% endif %}

        <!-- NÚMERO DA PÁGINA -->
        <span>

            Página {{ alunos.number }} de {{ alunos.paginator.num_pages }}

        </span>

        <!-- BOTÃO PRÓXIMO -->
        {% if alunos.has_next %}

            <a href="?page={{ alunos.next_page_number }}"
            class="btn btn-outline-primary rounded-circle">

                →

            </a>

        {% endif %}

    </div>

</div>
<script>

document.getElementById('cep').addEventListener('blur', function () {

    let cep = this.value.replace(/\D/g, '');

    if (cep.length != 8) {
        return;
    }

    fetch(`https://viacep.com.br/ws/${cep}/json/`)
        .then(response => response.json())
        .then(data => {

            if (data.erro) {
                alert('CEP não encontrado');
                return;
            }

            document.getElementById('rua').value = data.logradouro;
            document.getElementById('bairro').value = data.bairro;
            document.getElementById('cidade').value = data.localidade;
            document.getElementById('estado').value = data.uf;

        });

});

</script>

{% endblock %}